@model SistemaGraficosCITIC.Models.Domain.Product

@{
    ViewData["Title"] = "Eliminar producto";
}

<h3>¿Estás seguro que deseas borrar este producto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>Nombre</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <p>Descripción</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <p>Licencia</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.License)
        </dd>
        <dt class="col-sm-2">
            <p>Comercializable</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marketable)
        </dd>
        <dt class="col-sm-2">
            <p>Estado</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <div class="mt-3">
            <a asp-action="Index" asp-controller="Projects">Volver a la lista</a>
        </div>
    </form>
</div>
