@using SistemaGraficosCITIC.Controllers

@model SistemaGraficosCITIC.Views.ViewModels.ProjectModel

@{
    ViewData["Title"] = "Create";
    var publicationsCount = 0;
}

<div class="container">

    @if (User.Identity.IsAuthenticated)
    {
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <h1>Create</h1>

        <h4>Project</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="isActive" class="control-label">Is the project active?</label>
                        <input id="CheckBoxActive" type="checkbox" asp-for="isActive" />
                        <span asp-validation-for="isActive" class="text-danger"></span>
                    </div>
                    <br />
                    <div id="EndDateDiv" class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <br />



                    <hr />
                        <div class="accordion mt-3" id="accordionExample">

                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Publicaciones asociadas:  @Model.CounterPublications
                              </button>
                            </h2>

                            <div id="collapseOne" class="accordion-collapse collapse collapse" data-bs-parent="#accordionExample" style="">
                              <div class="accordion-body">

                                    <button id="addPubliButton" type="button" class="btn btn-primary" onclick="buttonAddPublications(this)" data-bs-toggle="modal" data-bs-target="#popupPublicationsForm"><strong>+</strong></button>
                                <div id="publications">
                                    <!-- Muestre cards tantas veces como lo que tiene el contador -->
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="popupPublicationsForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content d-flex justify-content-center">
                                            <div class="modal-body d-flex justify-content-center">
                                                <div class="card mt-3 mx-auto" style="width: 18rem;">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <h5 class="card-title">Publicación</h5>
                                                            <button type="button" onclick="deletePublicationCard(this)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div class="form-floating">
                                                            <input id="PublicationsTitle${contador}" class="form-control" autocomplete="" aria-required="true" />
                                                            <label class="form-label">Título</label>
                                                        </div>
                                                        <div class="form-floating">
                                                            <label type="Date" class="control-label"></label>
                                                            <input id="PublicationsDate${contador}" type="Date" class="form-control" />
                                                        </div>
                                                        <div class="form-floating">
                                                            <input id="PublicationsReferencia${contador}" class="form-control" autocomplete="" aria-required="true" />
                                                            <label class="form-label">Referencia</label>
                                                        </div>
                                                        <div class="form-floating mt-3">
                                                            <select id="PublicationsType${contador}" class="form-select" aria-label="Default select example">
                                                            </select>
                                                            <label class="form-label">Tipo</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save</button> @*Este boton guardaria la publicacion*@
                                            </div>
                                        </div>
                                    </div>
                                </div>


                              </div>
                            </div>

                          </div>
                        </div>
                    <hr />



                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#CheckBoxActive").change(function () {
                    if ($(this).is(":checked")) {
                        $("#EndDateDiv").hide();
                    } else {
                        $("#EndDateDiv").show();
                    }
                });
            });
        </script>

        <script>
            var contador = @publicationsCount;

            function buttonAddPublications(x) {
                //Comentado por ahora para probar el popup
                /*
                var div = document.getElementById("publications");
                

                var formularioHTML = `
                                    <div class="card  mt-3" style="width: 18rem;">
                                        <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                        <h5 class="card-title">Publicación</h5>
                                                <button type="button" onclick="deletePublicationCard(this)" class="btn-close" aria-label="Close"></button>
                                                        </div>

                                            <div class="form-floating">
                                                <input id="PublicationsTitle${contador}" class="form-control" autocomplete="" aria-required="true" />
                                                <label class="form-label">Título</label>
                                            </div>
                                            <div class="form-floating">
                                                <label type="Date" class="control-label"></label>
                                                <input id="PublicationsDate${contador}" type="Date" class="form-control" />
                                            </div>
                                            <div class="form-floating">
                                                <input id="PublicationsReferencia${contador}" class="form-control" autocomplete="" aria-required="true" />
                                                <label class="form-label">Referencia</label>
                                            </div>
                                            <div class="form-floating mt-3">
                                                <select id="PublicationsType${contador}" class="form-select" aria-label="Default select example">
                                                </select>
                                                <label class="form-label">Tipo</label>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                                                
                                    </div>
                        `;
                div.insertAdjacentHTML("beforeend", formularioHTML);
                */
                contador = contador + 1;
            }


            function deletePublicationCard(x) {
                //Comentado por ahora para probar el popup
                /*
                var padre = x.parentNode;
                var abuelo = padre.parentNode;
                var abuelo = abuelo.parentNode;
                abuelo.remove();
                */
                contador = contador - 1;
            }

        </script>

        <script>

            function addPublication() { @Model.CounterPublications++; }

            function deletePublication() { @Model.CounterPublications--; }

            function addExposition() { @Model.CounterExpositions++; }

            function addProduct() { @Model.CounterProducts++; }

            $(document).ready(function () {
                // Bind + button to event
                $('#addPubliButton').click(function () { refreshPublications(); });

                // Function to refresh the section
                function refreshPublications() {
                    @Model.CounterPublications++;
                    $.ajax({
                        url: '/ProjectsController/AddPublication',
                        type: 'GET',
                        success: function (result) {
                            // Update element
                            $('#refreshPublications').html(result);
                        },
                        error: function (xhr, status, error) { console.log(error); }
                    });
                }
            });

        </script>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    }else{
        <h1>Please sign in to create new proyects</h1>
    }

</div>